# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\workstation_block\crypto-arbitrager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
